[submodule "servers/io/nvme/aria"]
	path = servers/io/nvme/aria
	url = https://github.com/bach-os/aria
[submodule "servers/io/pci/aria"]
	path = servers/io/pci/aria
	url = https://github.com/bach-os/aria
[submodule "servers/fs/aria"]
	path = servers/fs/aria
	url = https://github.com/bach-os/aria
[submodule "kernel/aria"]
	path = kernel/aria
	url = https://github.com/bach-os/aria
[submodule "servers/io/nvme/controller/aria"]
	path = servers/io/nvme/controller/aria
	url = https://github.com/bach-os/aria
[submodule "servers/io/nvme/irq/aria"]
	path = servers/io/nvme/irq/aria
	url = https://github.com/bach-os/aria
[submodule "servers/sys/init/aria"]
	path = servers/sys/init/aria
	url = https://github.com/bach-os/aria
