[submodule "servers/io/nvme/fayt"]
	path = servers/io/nvme/fayt
	url = https://github.com/ethan4984/fayt
[submodule "servers/io/pci/fayt"]
	path = servers/io/pci/fayt
	url = https://github.com/ethan4984/fayt
[submodule "servers/fs/fayt"]
	path = servers/fs/fayt
	url = https://github.com/ethan4984/fayt
[submodule "kernel/fayt"]
	path = kernel/fayt
	url = https://github.com/ethan4984/fayt
[submodule "servers/io/nvme/controller/fayt"]
	path = servers/io/nvme/controller/fayt
	url = https://github.com/ethan4984/fayt
[submodule "servers/io/nvme/irq/fayt"]
	path = servers/io/nvme/irq/fayt
	url = https://github.com/ethan4984/fayt
[submodule "servers/sys/init/fayt"]
	path = servers/sys/init/fayt
	url = https://github.com/ethan4984/fayt
