[submodule "sched/fayt"]
	path = sched/fayt
	url = https://github.com/ethan4984/fayt
[submodule "io/nvme/fayt"]
	path = io/nvme/fayt
	url = https://github.com/ethan4984/fayt
[submodule "io/pci/fayt"]
	path = io/pci/fayt
	url = https://github.com/ethan4984/fayt
[submodule "fs/fayt"]
	path = fs/fayt
	url = https://github.com/ethan4984/fayt
[submodule "kernel/fayt"]
	path = kernel/fayt
	url = https://github.com/ethan4984/fayt
[submodule "io/nvme/controller/fayt"]
	path = io/nvme/controller/fayt
	url = https://github.com/ethan4984/fayt
[submodule "io/nvme/irq/fayt"]
	path = io/nvme/irq/fayt
	url = https://github.com/ethan4984/fayt
[submodule "sys/init/fayt"]
	path = sys/init/fayt
	url = https://github.com/ethan4984/fayt
